# GF_AUTH_OAUTH_AUTO_LOGIN = "true"
GF_AUTH_ANONYMOUS_ENABLED = true
GF_AUTH_ANONYMOUS_ORG_NAME = ANONYMOUS ORG NAME
GF_AUTH_ANONYMOUS_ORG_ROLE = Viewer
GF_AUTH_GENERIC_OAUTH_API_URL = "https://authentik.${DOMAIN}/application/o/userinfo/"
GF_AUTH_GENERIC_OAUTH_AUTH_URL = "https://authentik.${DOMAIN}/application/o/authorize/"
GF_AUTH_GENERIC_OAUTH_CLIENT_ID = ID
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET = SECRET
GF_AUTH_GENERIC_OAUTH_ENABLED = true
GF_AUTH_GENERIC_OAUTH_NAME = authentik
GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH = "contains(groups[*], 'Grafana Admins') && 'Admin' || contains(groups[*], 'Grafana Editors') && 'Editor' || 'Viewer'"
GF_AUTH_GENERIC_OAUTH_SCOPES = "openid profile email"
GF_AUTH_GENERIC_OAUTH_TOKEN_URL = "https://authentik.${DOMAIN}/application/o/token/"
GF_AUTH_SIGNOUT_REDIRECT_URL = "https://authentik.${DOMAIN}/application/o/grafana/end-session/"
GF_FEATURE_TOGGLES_ENABLE = publicDashboards
GF_INSTALL_PLUGINS = grafana-github-datasource, grafana-gitlab-datasource, redis-datasource, grafana-image-renderer, grafana-oncall-app
GF_LOG_FILTERS = rendering:debug
GF_RENDERING_CALLBACK_URL = http://grafana-oss:3000/
GF_RENDERING_SERVER_URL = http://image-renderer:8081/render
GF_SECURITY_ADMIN_PASSWORD = PASSWORD
GF_SECURITY_ADMIN_USER = USER
GF_SERVER_DOMAIN = grafana.${DOMAIN}
GF_SERVER_ROOT_URL = https://grafana.${DOMAIN}
GF_USERS_ALLOW_SIGN_UP = false
